<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/content-tools.min.css">
    <style>
        .author {
            font-style: italic;
            font-weight: bold;
        }
    </style>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

</head>
<body>
<h1><%= title %></h1>
<div data-editable data-name="main-content">
<form class="form-horizontal" action="/admin/save" method="post">
    <input type="hidden" name="id" value="<%= page.id %>"/>
    <input name="title" type="text" placeholder="New Page" value="<%= page.title %>">
    <br/>
    <textarea name="body" rows="5" cols="50" placeholder="Enter content here"><%- page.body %></textarea>
    <br/>
    <input name="url" type="text" placeholder="Page URL" value="<%= page.url %>"/>
    <br/>
    <input type="submit" value="Submit"/>
</form>
</div>
    <script src="/assets/content-tools.min.js"></script>
</body>
</html>
