<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <h1><%= title %></h1>
    <p>
    <table id="pages" class="table table-striped tabled-bordered table-condensed">
        <tr>
            <th>Title</th><th>Options</th>
        </tr>
        <% for(i = 0; i < pages.length; i++) { %>
            <tr>
                <td>
                    <a href="/page/<%= pages[i].url %>"><%= pages[i].title %></a>
                </td>
                <td>
                    <a href="/admin/del/<%= pages[i].id %>" class="btn btn-danger">X</a>
                    <a href="/admin/update/<%= pages[i].id %>" class="btn btn-info">Update</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a class="btn btn-success" href="/admin/newPage">Add new page</a>
    </p>
</body>
</html>