<!DOCTYPE html>
<html>
<head>
    <title><%= page.title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/content-tools.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages.css">
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
</head>
<body data-id="<%= page.id%>">
<div data-editable data-name="title">
<h1> <%= page.title %> </h1>
</div>
<div data-editable data-name="body">
    <p> <%- page.body %> </p>
</div>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/content-tools.min.js"></script>
<script src="/assets/editor.js"></script>
</body>
</html>